%h1 Editing forum_topic

#sub_nav
  = link_to "&larr; Back to #{@forum.name}", forum_path(@forum)

= error_messages_for :forum_topic

- less_form_for(@topic, :url => forum_topic_url(@topic.forum, @topic)) do |f|
  = render :partial => 'form', :locals => {:f => f }