
- profile ||= @profile
- type ||= 'friends'
- size ||= 20
- list = profile.send(type).find(:all, :limit => size, :order => ActiveRecord::Base.connection.rand) rescue []
- total = profile.send(type).count
- with_friending ||= false
- title = type == 'followings' ? 'Following' : type

- unless list.empty?
  %div.activity_box{ :id => type}
    %h2
      = title.titleize
      = link_to '(see all)', profile_friends_path(@profile) if list.size > total
    .inside_box
      - list.each do |profile|
        .left.my_network
          = icon profile
          = get_friend_link(@p, profile) if with_friending
        .clear
