= image_tag("footer.png", :class=>'clear') 

.text_c
  LovdbyLess is a 
  = link_to "Free Open Source Social Network Platform", "http://lovdbyless.com/"
  by 
  = link_to "Less Everything", "http://www.LessEverything.com"

  #message.fixed

