- photo = feed_item.item

%div[feed_item]
  .left
    = image_tag "blurp_photos.png"
    = link_to h(photo.profile.f), photo.profile 
    uploaded a 
    .thickboxnew= link_to image_path(photo), :title => photo.caption
    photo

  .right
    = x_feed_link(feed_item) if me

  .clear
