- photo ||= wall
- photo ||= @photo

.left.image

  = link_to image(photo, :small), image_path(photo, nil), :title => photo.caption, :class => "thickbox", :rel => "user_gallery"

  = link_to '(delete)', profile_photo_path(photo.profile, photo), :method => :delete if me
