%h1
  Editing post in
  =h @post.topic.title

= error_messages_for :forum_post

- less_form_for(@post, :url => forum_topic_post_url(@forum, @topic, @post)) do |f|
  = f.text_area :body
  .row.button
    = f.submit "Update"

= link_to 'Back', forum_topic_path(@forum, @topic)
